<!-- the template for the artists page -->
<table>
  <tr><th>Artist</th><th>Discogs</th>
    </tr>
  <%= for artist <- @artists do %>
    <tr>
      <%= render "artist.html", artist: artist %>
    </tr>
  <% end %>
</table>
