<h1>Listing Formats</h1>

<table>
  <%= for format <- @formats do %>
    <tr>
      <td><%= render "format.html", format: format %></td>
      <td><%= link "View", to: Routes.format_path(@conn, :show, format.id) %></td>
    </tr>
  <% end %>
</table>
