<!-- the template for the format page -->
<h1>Listing Formats</h1>

<table>
  <%= for format <- @formats do %>
    <tr>
      <td><%= render "format.html", format: format %></td>
    </tr>
  <% end %>
</table>
