<!-- the template for the labels index page -->
<table>
  <tr><th>Label</th><th>Discogs</th></tr>
  <%= for label <- @labels do %>
    <tr>
      <%= render "label.html", label: label %>
    </tr>
  <% end %>
</table>
